{:paths   ["src"]
 :deps    {;;org.apache.poi/poi {:mvn/version "5.2.5"}
           org.apache.poi/poi-ooxml                   {:mvn/version "5.2.5"}
           applied-science/darkstar                   {:git/url "https://github.com/applied-science/darkstar/"
                                                       :sha "541a3ff36065c59e92fe6aa61e41a4385ba6f893"}
           org.clojure/data.json                      {:mvn/version "2.5.0"}
           org.apache.xmlgraphics/batik-transcoder    {:mvn/version "1.17"}
           org.apache.xmlgraphics/batik-codec         {:mvn/version "1.17"}
           xerces/xercesImpl                          {:mvn/version "2.12.2"}}
 :aliases {:dev {:extra-paths []
                 :extra-deps {org.clojure/clojure            {:mvn/version "1.11.1"}
                              io.github.nextjournal/clerk    {:mvn/version "0.15.957"}
                              nextjournal/clerk-slideshow    {:git/url    "https://github.com/nextjournal/clerk-slideshow"
                                                              :git/sha    "f9fb86430ebf533bfc9d5cec5bf0a94ed07146f3"
                                                              :exclusions [techascent/tech.ml.dataset io.github.nextjournal/clerk]}
                              techascent/tech.ml.dataset     {:mvn/version "7.021"}
                              scicloj/tablecloth             {:mvn/version "7.021"}
                              mastodonc/kixi.large           {:git/url "https://github.com/MastodonC/kixi.large"
                                                              :git/sha "bda0812f692b8521e8273ff8c7754499ee834b5e"}}}}}
